.mesaContenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 300px;
    height: 60px;
    background-color: white;
    border-radius: 12px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: scale 0.3s ease-in-out;
    &:hover{
        scale: 1.01;
    }
}
.contenedorEstado{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.estadoLibre{
    width: 50px;
    height: 50px;
    background-color: #007000;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.estadoOcupado{
    width: 50px;
    height: 50px;
    background-color: #700000;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.estado span{
    font-size: 32px;
}
.informacionMesa{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    gap: 2px;
}
.nombreMesa{
    margin: 0;
    font-size: 20px;
}
.estadoMesa{
    opacity: 0.7;
}
.botonLibre{
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid #007000;
    color:#007000;
    background-color: white;
    transition: background-color 0.4s ease ;
    &:hover{
        cursor: pointer;
        background-color: #007000;
        color: white;
    }
}
.botonOcupado{
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid #700000;
    color:#700000;
    background-color: white;
    transition: background-color 0.4s ease ;
    &:hover{
        cursor: pointer;
        background-color: #700000;
        color: white;
    }
}

/* Modal Diseño */

.encabezadoModal{
    display: flex;
    gap: 3px;
    justify-content: space-between;
    align-items: center;
    border-Bottom: 1px solid #e5e7eb;
    padding-Bottom: 0.5rem;
    margin-bottom: 1rem;
    & div{
        display: flex;
        gap: 10px;
    }
    & .divDecoracion{
        width: 6px;
        background-color: #007000;
        border-radius: 8px;
    }
    & h3{
        margin: 0;
        font-size: 20px;
    }
    & p{
        margin: 0 40px;
    }
}
.encabezadoModalUno{
    display: flex;
    gap: 3px;
    align-items: center;
    border-Bottom: 1px solid #e5e7eb;
    padding-Bottom: 0.5rem;
    margin-bottom: 1rem;
    & div{
        display: flex;
    }
    & .divDecoracion{
        width: 6px;
        background-color: #007000;
        border-radius: 8px;
    }
    & h3{
        margin: 0;
        font-size: 20px;
    }
    & p{
        margin: 0 40px;
    }
}
.navegadorModal{
    margin: 1rem 0 1.5rem;
    & ul{
        display: flex;
        gap: 10px;
        list-style: none;
        padding: 0 0 0 1rem;
        margin: 0;
    }
    & ul li{
        text-decoration: none;
    }
    & ul li:hover{
        cursor: pointer;
    }
}
.liSelecionado{
    position: relative;
    font-size: 16px;
    &::after{
        content: "";
        position:absolute;
        top: 20px;
        left: 0px;
        width: 45px;
        height: 6px;
        border-radius: 8px;
        background-color: #007000;
        animation: animacionLi 0.3s both ease-in-out;
    }
}
.liNoSelecionado{
    opacity: 0.7;
}
@keyframes animacionLi {
    from{
        opacity: 0;
    }
    to{
       opacity: 1;
    }
}
.contenedorBotones{
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
}
.botonCerrarModal{
    padding: 5px 10px;
    border: 2px solid #007000;
    border-radius: 16px;
    background-color: white;
    color: #007000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transition: 0.4s background-color ease-in-out;
    &:hover{
        background-color: #007000;
        color: white;
        scale: 1.02;
        cursor: pointer;
    }
}
.botonListoModal{
    padding: 5px 10px;
    border-radius: 16px;
    background-color: #007000;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transition: 0.4s background-color ease-in-out;
    border: 2px solid #007000;
    &:hover{
        scale: 1.02;
        cursor: pointer;
    }
}
.contendorModal{
    animation: animacionContenedor 0.2s both ease-in-out;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    & .contenedorTabla{
        height: 350px;
    }
}
@keyframes animacionContenedor {
    from{
        opacity: 0;
        scale: 0.9;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}