
.contenedorPedidosModal{
    display: flex;
    gap: 30px;
    height: 350px;
}
.contendorPedido{
    width: 60%;
}
.mensajeModalPedido{
    margin-left: 1rem;
    font-size: 18px;
    opacity: 0.5;   
}
.contenedorPlatosPedido{
    height: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 10px;
    &::-webkit-scrollbar {
    width: 6px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
        margin-block: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #007000;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #009900;
    }
}
.contenedorObservaciones{
    width: 40%;
}
.encabezadoPedidosModal{
    display: flex;
    margin-bottom: 20px;
    gap: 5px;
    & div{
        width: 6px;
        background-color: #007000;
        border-radius: 8px;
    }
    & h2{
        margin: 0;
    }
}
.textoObservaciones{
    width: 80%;
    height: 200px;
    font-family: 'Roboto', sans-serif;
    &::selection{
        background-color: #007000;
    }
}