.buscador{
    display: flex;
    gap: 8px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 1rem;
}
.contenedorIcon{
    display: flex;
    position: absolute;
    height: 42px;
    width: 40px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #007000;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.buscador-text{
    width: 350px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 0;
    padding-left: 50px;
    border-style: solid;
    border-radius: 16px;
} 
.buscador-text:focus{
    border: 1px solid #ccc;
    box-shadow: 0 5px 6px rgba(0, 133, 7, 0.1);
    outline: none;
}
.contenedorAtender{
    padding: 0 1rem;
}
.contenedorAtender-platos{
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
    border-radius: 24px;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    width: 100%;
}
.contenedorAtender-platos-contenedor{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 5px 15px
}
.contenedorAtender-platos-nombre{
    margin: 0;
    font-size: 18px;
}
.contenedorAtender-platos-desc{
    margin: 0;
    font-size: 14px;
    color: #666;
}
.contenedorAtender-platos-precio{
    color: #007000;
    font-weight: 600;
    font-size: 16px;
    margin-right: 15px;
}
.contenedorAtender-platos-boton{
    background-color: green;
    color: white;
    border: none;
    margin: 0.5rem;
    border-radius: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0.4rem 1rem;
    box-shadow: 0 0px 5px green;
}
.contenedorAtender-platos-boton:hover{
    background-color: rgb(40, 143, 40);
    box-shadow: 0 0 5px rgb(40, 143, 40);
}
.contenedorAtender-platos-boton:active{
    scale: 0.9;
    background-color: rgb(62, 146, 62); 
}

/* Estilos de los boton rederizados por condicion */
.contenedorBoton{
    align-content: center;
}
.botonAñadir{
    background-color: #007000;
    border: none;
    color: white;
    border-radius: 50%;
    padding: 5px;
    &:hover{
        cursor: pointer;
    }
}