.editarSalaH2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.formSalaEditar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    & input{
        width: 90%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

.editarMesaH2{
    margin-bottom: 20px;
    font-size: 24px;
}
.formEditarMesa{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formNumeroMesa{
    display: flex;
    flex-direction: column;
    gap: 5px;
    & input{
        width: 90%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}
.formSala{
    display: flex;
    flex-direction: column;
    gap: 5px;
    & select{
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}
.botonGuardar{
    background-color: #007000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 18px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}
.modalEliminar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    & span{
        color: #700000;
        font-size: 48px;
    }
    & .botonesModalEliminar{
        display: flex;
        gap: 20px;
        & button{
            padding: 8px 16px;
            border: none;
            border-radius: 8px;
            cursor: pointer;

            &:hover{
                scale: 1.1;
            }
        }
        & .botonEliminarModalEliminar{
            background-color: #700000;
            color: white;
            &:hover{
                background-color: #900000;
            }
        }
    }
}
.mensajeModal{
    text-align: center;
    line-height: 1.4;
    font-size: 17px;

}