.botonGenerarVentas{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px 10px;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid #2969ed;
    color: #2969ed;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    &:hover{
        background-color: #2969ed;
        color: white;
    }
}